body {
background-color: #ffffff;
color: #000000;
font-family: 'Lato', sans-serif;
font-size: 16px;
height: 100vh;
}

#hero {
height: auto;
background-color: #BA9E7C;
font-size: 100px;
padding: 20px;
height: 30vh;
}

#container {
height: auto;
width: 100%; 
height: 60vh; 
}


#omnie {
font-size: 24px
width: 50%;
padidng: 40px;
float: left;
}

#contact {
background-color: #000000;
color: #ffffff;
font-size: 24px
width: 50%;
padidng: 40px;
float: left;
}