body {
background-color: #ffffff;
color: #000000;
font-family: 'Lato', sans-serif;
font-size: 16px;
}

#hero {
height: auto;
width: 100%;
background-color: #BA9E7C;
font-size: 100px;
padding: 20px;
}

#container {
height: auto;
width: 100%;  
}


#omnie {
font-size: 20px
height: auto;
width: 50%;
padidng: 20px;
float: left;
}

#contact {
background-color: #000000;
color: #ffffff;
font-size: 20px
height: auto;
width: 50px;
padidng: 20px;
float: left;
}