body
{
height: 100vh;
color: #000000;
font-family: 'Lato', sans-serif;
line-height: 1rem;
margin: 0;
padding: 0;
min-width: 350px;
background: #A5A6A8;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
display: flex;
}

#hero
{
height: 20vh;
background-color: rosybrown;
font-size: 100%;
align-content: center;
justify-content: center;
flex-direction: column;
display: flex;
}